.settings {
    display: none;
    position: absolute;

    background-color: rgb(31, 31, 31);

    top: 0;
    width: 100vw;

    color: #fff;
}

.settings-button {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 20px;
}

.fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 20px;
}

.field {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.items {
    display: flex;
    flex-direction: column;

    text-align: left;
    gap: 20px;
    padding: 20px;
}

.settings-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.settings hr {
    width: 100%;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    gap: 12px;
}
